.my-card{
    box-shadow: var(--shadow-box);
    min-width: 300px;
    border-radius: 0.5rem;
    font-family: "Montserrat", sans-serif;
    flex:1;
    margin: 2rem;
}
.ant-card-head-title{
    margin: 0 !important;
    font-weight: 600;
     
}
.my-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
    flex-wrap: wrap;
    gap: 16px;
}
.my-card p{
    margin: 0;
}