.signup-wrapper{
    width: 70%;
    max-width: 400px;
    height: auto;
    box-shadow: var(--shadow-box);
    border-radius: 1rem;
    padding: 1rem 1.5rem;
}
.title{
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
    margin: 0;
    margin-top: 0;
}
.p-login{
    text-align: center;
    margin: 0;
    font-weight: 300;
    font-size: 0.8rem;
}