.wrapper, .chart-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
    flex-wrap: wrap;
}
.chart-wrapper{
    justify-content: space-between;
    height: auto;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: var(--shadow-box);
    margin: 2rem;
    width: 94%;
}